#webview-body {
  display: flex;
  flex-direction: column;
}

#notes-form {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 1.5rem;
}

#submit-button {
  width: fit-content;
}

#tags {
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  #webview-body {
    padding: 0 8rem;
  }
}
